@charset "UTF-8";

#nav-ul > li {
	padding-right: 7px;
	padding-left: 10px;
	font-size: 20px;
}

#brand {
	font-size: 32px;
	color: #99ffff;
}

#sidenav {
	background-color: #ff7892;
	width: 18%;
	height: 100%;
	float: left;
}