@charset "UTF-8";

#nav-ul > li {
	padding: 0, 7px, 0, 10px;
	font-size: 20px;
}

#sidenav-ul > li {
	height: 35px;
	margin: 3px;
	font-size: 18px;
	background-color: #000000;
}

#sidenav-ul-pressed > li {
	background-color: #ffffff;
}

#brand {
	font-size: 32px;
	color: #99ffff;
}

#sidenav {
	background-color: #b2e692;
	width: 18%;
	height: 100%;
	float: left;
}