@charset "UTF-8";

.center {
	margin: auto;
	padding: 30px;
  	display: inline-block;
  	align-items: center;
}

.banner {
	width: auto;
	background-color: #fce0b3;
}

.link-button {
	background-color: Transparent;
	color: #e83b2c;
	display: inline;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

#nav-ul > li {
	padding: 0, 7px, 0, 10px;
	font-size: 20px;
}

#sidenav-ul > li {
	height: 35px;
	margin: 3px;
	font-size: 18px;
}
#sidenav-ul .a-hovered {
	color: #ffffff;
}
#sidenav-ul a {
	color: #001155;
}
#sidenav-ul-pressed > li {
	background-color: #ffffff;
}

#brand {
	font-size: 32px;
	color: #99ffff;
}

#sidenav {
	background-color: #b2e692;
	width: 18%;
	height: 100vh;
	float: left;
}
